{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/message-number-style.css' %}">
{% endblock css %}

{% block content %}
    <div class="container my-3">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card p-4 shadow-lg">
                    <div class="card-header">
                        <h3 class="display-5 text-center mb-2">Sign-In</h3>
                    </div>
                    <div class="card-body">
                        {% if messages %}
                            {% for message in messages %}
                                <p class={{message.tags}} >{{message}}</p>
                            {% endfor %}
                        {% endif %}
                        <form class="needs-validation" action="{% url 'signin' %}" method="post" onsubmit="return validate();">
                            {% csrf_token %}
                            <div class="mb-1">
                                <label for="username">SIC Number<span class="text-danger">*</span></label>
                                <input type="number" name="username" id="username" class="form-control">
                                <small><label for="username_error" id="username_error" class="text-danger"></label></small>
                            </div>
                            <div class="mb-1">
                                <label for="password">Password<span class="text-danger">*</span></label>
                                <input type="password" name="password" id="password" class="form-control">
                                <small><label for="password_error" id="password_error" class="text-danger"></label></small>
                            </div>
                            {% if request.GET.next %}
                                <input type="hidden" name="next" value="{{ request.GET.next }}">
                            {% endif %}
                            <input type="submit" value="Sign-In" class="btn btn-primary w-100 my-2">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'js/sign-in-validator.js' %}"></script>
{% endblock js %}